node_modules/
.venv/
__pycache__/
*.py[cod]

data/raw/**
!data/raw/
!data/raw/.gitkeep
!data/raw/dukascopy/
!data/raw/dukascopy/.gitkeep

data/processed/**
!data/processed/
!data/processed/.gitkeep

data/reports/**
!data/reports/
!data/reports/.gitkeep

